<form asp-action="Index">
    <label>Fullname</label>
    <input type="text" name="fName" placeholder="enter Fullname" />
    <input type="email"name="ABC" placeholder="enter email"/>
    <input type="submit" value="save">
</form>
<h1>@ViewBag.L</h1>